.card{
    background-color: white;
    color: black;
    padding: 12px;
    margin: 2px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
}

.card-image{
    height: 40px;
}
.card-right{
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.card-info{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 12px;
}
.card-title{
    font-size: 20px;
}

.card-time{
    color: gray;
    font-size: 12px;
    font-style: italic;
}

.card-amount{
    font-size: 20px;
    font-weight: 500;
}

.delete-icon{
    font-size: 16px;
}
.delete-icon:hover{
    color: red;
}

@media only screen and (max-width:1024px) {
    .card-title{
        font-size:18px
    }
    .card-amount{
        font-size: 18px;
    }

    .card-image{
        height: 32px;
    }

    .card-time{
        font-size: 10px;
    }
}

@media only screen and (max-width:512px) {
    .card-title{
        font-size:15px
    }
    .card-amount{
        font-size: 15px;
    }

    .card-image{
        height: 28px;
    }

    .card-time{
        font-size: 8px;
    }
}