body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  background-color: blueviolet;
  color: azure;
}

a{
  text-decoration: none;
  color: #001f3f;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
